django>=5.1
pillow>=11.0
stripe>=11.0
gunicorn>=23.0
django-forms-bootstrap>=3.1.0
django-storages>=1.14.2
boto3>=1.28.0
psycopg2-binary>=2.9
redis>=5.0
celery>=5.4
django-celery-beat>=2.7
python-decouple>=3.8
whitenoise>=6.8
requests>=2.32
